.poke-popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.poke-popup {
  background-color: #181818;
  box-shadow: 0 0 2px rgba(185, 185, 185, 0.2);
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
}
