.poke-picker-mon {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.2rem solid rgb(132, 132, 132);
  border-radius: 0.5rem;
  gap: 0.2rem;
  padding-bottom: 0.4rem;
}

.poke-picker-mon:hover {
  border-color: rgb(255, 254, 254);
  cursor: pointer;
  background-color: rgba(250, 250, 250, 0.107);
}

.poke-picker-mon img {
  width: 14.4rem;
  height: 14.4rem;
}

.poke-picker-mon p {
  font-size: 1.4rem;
  text-transform: capitalize;
  margin: 0;
  font-weight: bold;
}
