.pk-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  background-color: rgb(32, 32, 32);
  width: 100%;
  padding: 0.4rem;
}

.pk-header h1 {
  font-size: 2rem;
  margin: 0;
}
